<div id="lnb-menu">
	<a href="/">홈페이지</a>
	|
	<a href="/about">소개페이지</a>
	|
	<a href="/section-test">Section Test 페이지</a>
	|
	<a href="/adjfoie">404 - 페이지</a>
	|
	<a href="/newsletter-signup">뉴스레터 구독</a>
</div>