<!DOCTYPE html>
<html lang="ko">
<head>
	{{> head}}
</head>
<body>
	<header>
		<h1 style="background-color: yellowgreen; color: #000; font-size: 1.2rem; font-weight: bold; padding: .5rem 1rem">
				{{#if title}}
					{{title}}
				{{^}}
					커스텀 레이아웃 적용
				{{/if}}
		</h1>

		{{> lnb}}
		
		<p style="text-align: center;">
			<img src="/img/logo.png" alt="Meadowlark Travel Logo" width="200">
		</p>
	</header>

	{{{ body }}}

	{{> social/kakao}}
	{{> social/twitter}}
</body>
</html>