<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Meadowlark Travel</title>
</head>
<body>
	<header>
		<p style="text-align: center">
			<a href="/">홈페이지</a>
			|
			<a href="/about">소개페이지</a>
			|
			<a href="/adjfoie">404 - 페이지</a>
		</p>
		<p style="text-align: center;">
			<img src="/img/logo-2.png" alt="Meadowlark Travel Logo" width="200">
		</p>
	</header>

	{{{ body }}}
</body>
</html>