<!DOCTYPE html>
<html lang="ko">
<head>
	{{> head}}
</head>
<body>
	{{!-- 알려지면 곤란한 주석은 여기에 --}}
	<!-- 알려져도 상관없다면 여기에 -->
	<header>
		{{> lnb}}
		
		<p style="text-align: center;">
			<a href="/"><img src="/img/logo-2.png" alt="Meadowlark Travel Logo" width="200"></a>
		</p>
	</header>

	{{{ body }}}

	{{> social/facebook}}
</body>
</html>