<h1>메도라크 여행사에 오신 것을 환영합니다!</h1>
{{#if date}}<p>{{ date }}</p>{{/if}}
{{#if title}}<p>{{ title }}</p>{{/if}}
{{#if description}}<p>{{ description }}</p>{{/if}}
<h2>{{> weather}}</h2>
<p>소개페이지로 이동하시려면 클릭 ==> <a href="/about" data-test-id="about">소개페이지로</a></p>
